<!-- Header -->
<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-2 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" href="index.html">TaskSync</a>
  
      <div class="flex flex-grow items-center">
        <!-- Navigation Links -->
        <ul class="flex flex-row ml-auto">
          <li>
            <a class="px-2" href="#" (click)="openModal($event)">Login / Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

